html {
	box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}
a:hover {

}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.is-active a {
    background-color: var(--brand);
    color: white !important;
    padding:.25em 1em;
    border-radius: 7px;
}