:root {
    /* colors */

    /* neutrals */
    --neutral-dark: #303030;
    --neutral: #555454;
    --neutral-medium: #878484;
    --neutral-light: #c7c7c7;
    --neutral-xlight: #ededed;

    /* brand */
    --brand-dark: #303030;
    --brand: #6DBB87;
    --brand-medium: #6DBB87;
    --brand-light: #c7c7c7;
    --brand-xlight: #ededed;

    /* brand alternatives */
    --brand-alt-dark: #303030;
    --brand-alt: #BB7369;
    --brand-alt-medium: #BB7369;
    --brand-alt-light: #c7c7c7;
    --brand-alt-xlight: #ededed;

    /* size of navigation menu */
    --width-menu: 112px;
}