.banner {
    display:  flex;
    min-height: 80vh;
    padding: 1rem;
    align-items: center;
    background-image: url('../../src/img/productos/colgantedorado.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* Añade un efecto a la imagen */
    /* background-blend-mode: multiply;
    background-color: var(--brand); */
}

.banner-info {
    color: white;
}

.banner-info-title {
    margin: 0 0 1rem 0;
    font-size: clamp(1rem, -0.875rem + 8vw, 4.5rem);
    line-height: clamp(1.3rem, -0.875rem + 8vw, 4.3rem);
    max-width: 500px;
}

.banner-info-link {
    display: inline-block;
    padding: .5rem 1.5rem;
    border: 1px solid white;
    color: white;
    border-radius: 40px;
    font-weight: 700;
}

.banner-info-link:hover {
    background-color: var(--brand);
    border: 1px solid var(--brand);
}


    /*background-color: var(--brand-alt);
    transition: background-color .5s;
}

.banner-info-link:hover {
    background-color: var(--brand-alt);
}*/
