.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu ul li:not(:last-child) {
    margin-right: 1rem;
}

@media screen and (min-width: 480px) {
    .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
    }