.ly-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(255px,1fr));
    grid-column-gap: 2em;
    grid-row-gap: 3em;
}
.ly-grid img{
    width:100%;
}

.ly-grid-product {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(455px,1fr));
    grid-column-gap: 4em;
    grid-row-gap: 3em;
}
.ly-grid-product img{
    width:100%;
}

.ly-grid-product2 {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(255px,1fr));
	grid-column-gap: .3em;
}

.ly-grid-product2 img{
    width:100%;
}
