.blog-detail  {
    background-color: var(--neutral-xlight);
    line-height: 1.4rem;
}
.blog-detail img {
    width: 100%;
    margin: 1.5rem 0;
}
.blog-detail-header {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}
.blog-detail-header img {
    width:100%;
    object-fit: cover;
    height: 50vh;
    position: absolute;
}

.blog-detail-header h2 {
    position: relative;
    font-size: clamp(1rem, -0.875rem + 8vw, 4.5rem);
    line-height: clamp(1.3rem, -0.875rem + 8vw, 4.8rem);
    color: white;
    text-shadow: 1px 1px 10px var(--neutral-dark);
    max-width: 580px;
}