.blog-list {
    background-color: var(--neutral-xlight);
}
.blog-list img {
    width: 100%;
}

.blog-list a {
    color: var(--brand);
}
.blog-list a:hover {
    color: var(--neutral);
}

.blog-list-item {
    margin-bottom: 4rem;
}
.blog-list-item-info-tags {
    padding: 0;
    margin: 0;
    margin-top: 2rem;
}
.blog-list-item-info-tags  li{
    display: inline-block;
}
.blog-list-item-info-tags  a{
    font-size:13px;
    background-color: var(--neutral-light);
    color: var(--neutral);
    border-radius: 12px;
    display: inline-block;
    padding: .35em 1em;
}
.blog-list-item-info-tags  a:hover {
    background-color: white;
}

@media (min-width: 720px) {
    .blog-list-item {
        display: flex;
        justify-content: space-between;
    }
    .blog-list-item-img {
        max-width: 300px;
        margin-right: 2rem;
    }
    .blog-list-item-info h2 {
        margin-top: 0;
    }
}