/* DETALLE */
.back {
    margin: 3rem auto 2rem;
    display: block;
    color: var(--brand);
}
.back:hover {
    color: var(--neutral-dark);
}
.back::before {
    margin-right: .25em;
    content: "←";
}
.product-detail {
    line-height: 1.4rem;
    padding-bottom: 6rem;
}
.product-detail ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.product-detail ul li::before{
    content: "▸";
    color: var(--brand);
    margin-right: .5rem;
}

@media (min-width: 720px) {
    .product-detail {
        display: flex;
    }
    .product-detail-info {
        padding-right: 3rem;
    }
}
.product-detail-options {
    min-width: 250px;
}

.product-page a {
    color: var(--neutrl-dark);
}

.product-detail-info-img {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
}
.product-detail-info-img > * {
    flex:20% 0 0;
    margin-left: .3em;
}
.product-detail-info-img a:first-child {
    flex: 1 1 auto;
    margin-bottom: .25rem;
}
.product-detail-info-img a:hover {
    opacity: .5;
}
.product-detail-info-img img {
    vertical-align: middle;
    width: 100%;
}
.product-detail-info-description h2,h3{
    color: var(--neutral-dark);
}
.product-detail-info-description{
    color: var(--neutral);
}

/* colors svg */


.option-1 circle {
    fill: #a89600;
}
.option-2 circle {
    fill: #7c879f;
}
.option-3 circle {
    fill: #228e48;
}
.option-4 circle {
    fill: #3c55c4;
}
.option-5 circle {
    fill: #9c4b97;
}











