/* Detalle de producto */

/* Enlace para regresar a listado */
.back {
    margin: 3rem auto 2rem;
    display: block;
    color: var(--brand);
}
.back:hover {
    color: var(--neutral-dark);
}
.back::before {
    margin-right: .25em;
    content: "←";
}

/* contenedor general */
.product-detail {
    line-height: 1.4rem;
    padding-bottom: 6rem;
}
.product-detail ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.product-detail-info {
    margin-bottom: 2rem;
}

.product-detail-info ul li::before{
    content: "▸";
    color: var(--brand);
    margin-right: .5rem;
}

.product-detail-info ul ,
.product-detail-info p {
    color: var(--neutral-medium);
}
/* Contenedor de las imagenes del producto */
.product-detail-info-img {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
}
.product-detail-info-img > * {
    flex:20% 0 0;
    margin-left: .3em;
}
.product-detail-info-img a {
    overflow: hidden;
}
.product-detail-info-img a:first-child {
    flex: 1 1 auto;
    margin-bottom: .25rem;
}
.product-detail-info-img img {
    vertical-align: middle;
    width: 100%;
    transform: scale(1);
    transition: ease-in-out .250s all;
}
.product-detail-info-img a:hover img{
    transform: scale(1.2);
}
/* Contendor con la información del producto */
.product-detail-info-description h2,h3{
    color: var(--neutral-dark);
}
.product-detail-info-description{
    color: var(--neutral);
}

@media (min-width: 720px) {
    .product-detail {
        display: flex;
    }
    .product-detail-info {
        padding-right: 3rem;
    }
}

/* Contendor opciones del producto */
.product-detail-options {
    min-width: 250px;
}

.product-detail-options h4{
    margin: 0 0 .25rem 0;
    font-weight: normal;
    color: var(--neutral-medium);
    font-size: .875rem;
}
/* Precio después de la cabecera */
.product-detail-options h4 + p {
    margin-top: .25rem;
    font-size: 1.5rem;
}

/* tags prodcutos detalle */
.product-detail-options-tags {
    margin-bottom: 1.5em;
}
.product-detail-options-tags a {
    display: inline-block;
    background-color: var(--brand);
    color: white !important;
    padding:.25em 1em;
    border-radius: 15px;
    font-size: .875rem;
    margin-top: 0.25em;
}

/* Calses para aplicar colores en el svg */
.option-1 circle {
    fill: #a89600;
}
.option-2 circle {
    fill: #7c879f;
}
.option-3 circle {
    fill: #228e48;
}
.option-4 circle {
    fill: #3c55c4;
}
.option-5 circle {
    fill: #9c4b97;
}
