.product-categories {
    padding: 3rem 1rem 1rem 1rem;
    max-width: 740px;
    margin: 0 auto;
}
.product-categories a {
    color: var(--brand);
}
.product-categories ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    line-height: 1.4rem;

}

.product-categories li:not(:last-child)::after {
    content: "|";
    margin: 0 .5rem;
    color: var(--neutral-light);
}
.product-list {
    max-width: 1400px;
    margin: 3rem auto;
    padding: 0 1rem;
}

.product-item a {
    color: var(--neutrl-dark);
}
.product-item a:hover {
    opacity: .7;
}
.product-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-item-info h4,
.product-item-info p {
    margin:.5rem 0 0 0;
}
.product-item-info h4 {
    color: var(--neutral-dark);
}
.product-item-info p {
    color: var(--neutral-medium);
}



/* DETALLE */
.back {
    margin: 3rem auto 2rem;
    display: block;
    color: var(--brand);
}
.back:hover {
    color: var(--neutral-dark);
}
.back::before {
    margin-right: .25em;
    content: "←";
}
.product-detail {
    line-height: 1.4rem;
    padding-bottom: 6rem;
}
.product-detail ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.product-detail ul li::before{
    content: "▸";
    color: var(--brand);
    margin-right: .5rem;
}

@media (min-width: 720px) {
    .product-detail {
        display: flex;
    }
    .product-detail-info {
        padding-right: 3rem;
    }
}
.product-detail-options {
    min-width: 250px;
}

.product-page a {
    color: var(--neutrl-dark);
}

.product-detail-info-img {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
}
.product-detail-info-img > * {
    flex:20% 0 0;
}
.product-detail-info-img a:first-child {
    flex: 1 1 auto;
    margin-bottom: .25rem;
}
.product-detail-info-img a:hover {
    opacity: .5;
}
.product-detail-info-img img {
    vertical-align: middle;
    width: 100%;
}


/* colors svg */


.option-1 circle {
    fill: #a89600;
}
.option-2 circle {
    fill: #7c879f;
}
.option-3 circle {
    fill: #228e48;
}
.option-4 circle {
    fill: #3c55c4;
}
.option-5 circle {
    fill: #9c4b97;
}











