.whois {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.whois p{
    font-size: 1.15rem;
    line-height: 1.6rem;
}
.whois img{
    width: 100%;
    min-width: 280px;
    margin-bottom: 2rem;
}

@media (min-width: 720px) {
    .whois {
        display: flex;
    }
    .whois-description {
        padding-left: 3rem;
    }
}